<%- include('./partials/header') %> <% user.cart.forEach((item,index)=>{%>
<div class="w-full h-80 flex items-start px-20 py-10 gap-10">
  <div class="w-[30%] rounded-md overflow-hidden">
    <div
      class="w-full flex justify-center items-center h-60 bg-[<%= item.bgcolor%>]"
    >
      <img
        class="h-[10rem]"
        src="data:image/jpeg;base64,<%=item.image.toString('base64')%>"
        alt=""
      />
    </div>
    <div
      class="w-full h-10 flex justify-between px-5 py-4 bg-[<%= item.panelcolor%>]"
    >
      <h3 class="text-xl"><%= item.name%></h3>
      <div class="flex items-center gap-2">
        <i
          id="decrement"
          class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-subtract-line cursor-pointer"
        ></i>
        <div id="quantity" class="px-2 py-1 rounded-md bg-white text-black">
          1
        </div>
        <i
          id="increment"
          class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-add-line cursor-pointer"
        ></i>
      </div>
    </div>
    <div
      class="flex h-10 items-center justify-between px-5 py-3 bg-[<%= item.panelcolor%>]"
    >
      <h4 class="text-lg">Net Total</h4>
      <h2 class="text-lg">₹<%= (item.price - item.discount) + 20 %></h2>
    </div>
  </div>
  <div class="w-[70%]">
    <h3 class="text-xl">Price Breakdown</h3>
    <div class="px-10 mt-5">
      <div class="flex mt-2">
        <h4 class="w-1/3">Total MRP</h4>
        <h4>₹ <%= item.price%></h4>
      </div>
      <div class="flex mt-2">
        <h4 class="w-1/3">Discount on MRP</h4>
        <h4>₹ <%= item.discount%></h4>
      </div>
      <div class="flex mt-2">
        <h4 class="w-1/3">Platform Fee</h4>
        <h4>₹ 20</h4>
      </div>
      <div class="flex mt-2">
        <h4 class="w-1/3">Shipping Fee</h4>
        <h4>FREE</h4>
      </div>
    </div>
    <div class="w-full h-[1px] bg-black mt-10"></div>
    <div class="flex mt-5">
      <h3 class="w-1/3 text-xl">Total Amount</h3>
      <h3 class="font-semibold text-xl text-green-600">
        ₹<%= (item.price - item.discount)+ 20 %>
      </h3>
    </div>
    <form action="/order-place" method="POST">
      <input type="hidden" name="<%=item.name%>" value="<%= item._id %>" />
      <input type="hidden" name="quantity" value="1" />
      <button
        type="submit"
        class="mt-5 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-700"
      >
        Place Order
      </button>
    </form>
  </div>
</div>
/ <%})%> <%- include('./partials/footer') %>
